En esta sección se buscará definir los transcriptomas que serán utilizados para la implementación del modelo.<br>
Para ello, ya se tienen los transcriptmas en la base de datos, y cada uno de ellos posee un campo para indicar si se utilizará o no para el modelo, así que bastará con actualizar estos campos aleatoriamente.<br>
Para ello haremos uso de la función RAND de MYSQL, recordando que cada grupo positivo/negativo tendrá 4208 elementos.

In [8]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
   host="localhost",
   database="tesis2",
   user="root",
   passwd=""
)
cursor = conn.cursor()
print("...UPDATE secuencias SET flg_seleccionado = NULL...")
query = "UPDATE secuencias SET flg_seleccionado = NULL"
cursor.execute(query)

query = "SELECT id_especie FROM maestra_especies m JOIN especies_seleccionadas s ON m.especie = s.especie"
cursor.execute(query)
ids = cursor.fetchall()
for id_especie in ids:
    print("PCT for " + str(id_especie[0]))
    query = "UPDATE secuencias SET flg_seleccionado = 1 WHERE id_especie = %s AND flg_pct = 1 ORDER BY RAND() LIMIT 4208"
    cursor.execute(query, [id_especie[0]])
    print("lncRNA for " + str(id_especie[0]))
    query = "UPDATE secuencias SET flg_seleccionado = 1 WHERE id_especie = %s AND flg_pct = 0 ORDER BY RAND() LIMIT 4208"
    cursor.execute(query, [id_especie[0]])
    
print("SELECCIONADOS")
df = pd.read_sql_query("SELECT m.especie, SUM(CASE WHEN s.flg_pct = 1 THEN 1 ELSE 0 END) AS PCT, SUM(CASE WHEN s.flg_pct = 0 THEN 1 ELSE 0 END) AS lncRNA FROM secuencias s JOIN maestra_especies m ON s.id_especie = m.id_especie WHERE flg_seleccionado = 1 GROUP BY m.especie ORDER BY 1 DESC", conn)
display(df)

print("NO SE USARAN EN EL MODELO")
df = pd.read_sql_query("SELECT m.especie, SUM(CASE WHEN s.flg_pct = 1 THEN 1 ELSE 0 END) AS PCT, SUM(CASE WHEN s.flg_pct = 0 THEN 1 ELSE 0 END) AS lncRNA FROM secuencias s JOIN maestra_especies m ON s.id_especie = m.id_especie WHERE flg_seleccionado IS NULL OR flg_seleccionado = 0 GROUP BY m.especie ORDER BY 1 DESC", conn)
display(df)
    
conn.close()

...UPDATE secuencias SET flg_seleccionado = NULL...
PCT for 2
lncRNA for 2
PCT for 5
lncRNA for 5
PCT for 6
lncRNA for 6
PCT for 8
lncRNA for 8
PCT for 9
lncRNA for 9
PCT for 10
lncRNA for 10
PCT for 11
lncRNA for 11
PCT for 23
lncRNA for 23
PCT for 24
lncRNA for 24
PCT for 33
lncRNA for 33
PCT for 34
lncRNA for 34
PCT for 36
lncRNA for 36
PCT for 38
lncRNA for 38
PCT for 42
lncRNA for 42
PCT for 43
lncRNA for 43
PCT for 49
lncRNA for 49
PCT for 50
lncRNA for 50
PCT for 55
lncRNA for 55
PCT for 57
lncRNA for 57
PCT for 59
lncRNA for 59
PCT for 62
lncRNA for 62
PCT for 63
lncRNA for 63
PCT for 68
lncRNA for 68
PCT for 69
lncRNA for 69
PCT for 70
lncRNA for 70
PCT for 71
lncRNA for 71
PCT for 73
lncRNA for 73
PCT for 74
lncRNA for 74
PCT for 75
lncRNA for 75
PCT for 80
lncRNA for 80
SELECCIONADOS

                        especie     PCT  lncRNA
0                Vitis vinifera  4208.0  4208.0
1             Triticum aestivum  4208.0  4208.0
2            Trifolium pratense  4208.0  4208.0
3               Theobroma cacao  4208.0  4208.0
4               Sorghum bicolor  4208.0  4208.0
5             Solanum tuberosum  4208.0  4208.0
6          Solanum lycopersicum  4208.0  4208.0
7               Setaria italica  4208.0  4208.0
8           Populus trichocarpa  4208.0  4208.0
9         Physcomitrella patens  4208.0  4208.0
10  Oryza sativa Japonica Group  4208.0  4208.0
11              Oryza rufipogon  4208.0  4208.0
12                 Oryza nivara  4208.0  4208.0
13            Oryza brachyantha  4208.0  4208.0
14                Oryza barthii  4208.0  4208.0
15          Medicago truncatula  4208.0  4208.0
16            Manihot esculenta  4208.0  4208.0
17             Leersia perrieri  4208.0  4208.0
18              Hordeum vulgare  4208.0  4208.0
19          Gossypium raimondii  4208.0  4208.0
20                  Glycine max  4208.0  4208.0
21              Cucumis sativus  4208.0  4208.0
22         Corchorus capsularis  4208.0  4208.0
23                Brassica rapa  4208.0  4208.0
24            Brassica oleracea  4208.0  4208.0
25               Brassica napus  4208.0  4208.0
26      Brachypodium distachyon  4208.0  4208.0
27         Arabidopsis thaliana  4208.0  4208.0
28           Arabidopsis lyrata  4208.0  4208.0
29         Amborella trichopoda  4208.0  4208.0

NO SE USARAN EN EL MODELO

                        especie       PCT   lncRNA
0                      Zea mays  131585.0      0.0
1                Vitis vinifera   25719.0    334.0
2             Triticum aestivum  129188.0  34612.0
3            Trifolium pratense   37062.0   5971.0
4               Theobroma cacao   39978.0   1048.0
5               Sorghum bicolor   42902.0   1097.0
6             Solanum tuberosum   52002.0   2472.0
7          Solanum lycopersicum   29489.0    508.0
8               Setaria italica   36815.0      0.0
9    Selaginella moellendorffii   34825.0      0.0
10               Prunus persica   47089.0      0.0
11          Populus trichocarpa   68804.0   1361.0
12        Physcomitrella patens   82827.0   5482.0
13           Phaseolus vulgaris   32720.0      0.0
14     Ostreococcus lucimarinus    7603.0      0.0
15  Oryza sativa Japonica Group   38166.0   1029.0
16              Oryza rufipogon   43248.0   6053.0
17               Oryza punctata   41060.0      0.0
18                 Oryza nivara   44152.0   4747.0
19            Oryza brachyantha   27829.0   1796.0
20                Oryza barthii   37387.0   2854.0
21               Musa acuminata   36519.0      0.0
22          Medicago truncatula   53377.0   5468.0
23            Manihot esculenta   37184.0   5296.0
24             Leersia perrieri   34753.0   2194.0
25              Hordeum vulgare  232882.0   3762.0
26          Gossypium raimondii   74163.0      8.0
27                  Glycine max   84204.0   2481.0
28        Galdieria sulphuraria    7174.0      0.0
29              Cucumis sativus   19572.0   3140.0
30         Corchorus capsularis   25148.0   2251.0
31             Chondrus crispus    9807.0      0.0
32    Chlamydomonas reinhardtii   19528.0      0.0
33                Brassica rapa   36817.0   4293.0
34            Brassica oleracea   55012.0   3130.0
35               Brassica napus   96832.0   7802.0
36      Brachypodium distachyon   48764.0   1376.0
37         Arabidopsis thaliana   44124.0    165.0
38           Arabidopsis lyrata   28459.0   3385.0
39         Amborella trichopoda   23105.0   1490.0